{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <h1 class="mb-4"> {% if object %}Update{% else %}Add{% endif %} Case</h1>
    <form method="post" novalidate>
        {% csrf_token %}  {% comment %} Generates tokens for security on authentication attack {% endcomment %}
        
        <div class="container form-row">
            <div class="form-group col-md-6">
                <label form="{{ form.title.id_for_label}}">Title:</label>
                <input type="text" class="form-control" id="{{ form.title.id_for_label}}"
                    name="{{ form.title.html_name}}" value="{{ form.title.value|default:'' }}" required>
            </div>
            
            <div class="form-group col-md-6">
                <label for="{{ form.client.id_for_label}}">Client:</label>
                {{ form.client|add_class:"form_control" }}
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="{{ form.lawyer.id_for_label}}">Lawyer:</label>
                    {{ form.lawyer|add_class:"form_control" }}
                </div>
                <div class="form-group col-md-6">
                    <label for="{{ form.status.id_for_label}}">Status:</label>
                    {{ form.status|add_class:"form_control" }}
                </div>
            </div>

            <div class="form-group">
                <label form="{{ form.description.id_for_label}}">Description:</label>
                <textarea class="form-control" id="{{ form.description.id_for_label}}" name="{{ form.description.html_name}}"  
                          rows="5" required>{{ form.description.value|default:'' }}</textarea>
            </div>
            
            <br>
            <div class="form-row">
                <button class="btn btn-primary" type="submit">Save</button>
                <a class="btn btn-seccondary" href="{% url 'cases:case_list' %}">Cancel</a>
            </div>
        </div>
    </form>

{% endblock  %}
