{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Law Firm Management System</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "cases:home" %}">Law Firm Management System</a>
                <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "cases:client_list" %}">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "cases:lawyer_list" %}">Lawyers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "cases:case_list" %}">Cases</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>

    <main role="main" class="container mt-4">
        {% block content %}
        {% endblock  %}
    </main>
    
    <footer class="bg-primary text-white mt-4 py3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; {% now 'Y' %} Law Firm Management. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
